{% extends "layout.html" %}

{% block body %}

  <nav class="absoluteobjects">

    <div id="absolute1"></div>


  </nav>

{% block nav %}


{% endblock %}

<main>

  <section class="firstsection">

    <nav class="navbar">

      <h1><a class="" href="/">Global Data</a></h1>
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="navlist" id="">
        <ul class="">
          <li class="" id="home">
            <a class="" href="/">Home <span class="sr-only"></span></a>
          </li>
          <li class="">
            <a class="" href="#about">About</a>
          </li>
          <form action="/trycountries">
    
            <button type="submit" id="try">Try It</button>
    
          </form>
        </ul>
        </form>
      </div>
    
    </nav>

    <span class="spanfirstsection">

      <span class="fheading">

        <h1>Navigate through the largest <b style="color: #5e43f3;">World Data</b> Database</h1>

      </span>

      <span class="fdash glassycontainer">

          <canvas  id="fdash" style="height: 20dvw;">

            <script>

              var xValues = ["Italy", "France", "Spain", "USA", "Argentina", "Germany", "Venezuela"];
              var yValues = [55, 49, 44, 37, 43, 34, 54];
              var barColors = [
                "#7a5af5",
              ];

              const fdash = document.getElementById("fdash").getContext("2d");
              const bgGradient = fdash.createLinearGradient(0, 0, 0, 400);

              bgGradient.addColorStop(0,"rgba(122, 90, 245, 1)")
              bgGradient.addColorStop(1,"rgba(122, 90, 245, 0.02)")

              new Chart(fdash, {

                type: "line",
                data: {
                  labels: xValues,
                  datasets: [{
                    data: yValues,
                    backgroundColor: bgGradient,
                    borderColor: ['#7a5af5'],
                    fill: true,
                    color: ['#fffffff']
                  }]
                },

                options: {
                  title: {
                    display: true,
                    text: "World Wide Wine Production",
                  },

                  plugins: {
                    legend: {
                      labels: {
                        font: {
                          color: "#ffffff"
                        }
                      },
                      display: false
                    }
                  },

                  responsive: true,

                  layout: {
                      padding: 80
                  },

                  maintainAspectRatio: false,

                }
              });

            </script>

          </canvas>

      </span>

      <span class="fbutton">

        <form action="/trycountries">

          <button type="submit" id="try" style="margin-top: 4dvh;">Try It</button>

        </form>

        <form>

          <a href="#about"><button id="tryabout" style="margin-top: 4dvh;">About</button></a>

        </form>

      </span>

    </span>

    <section class="aboutsection" id="about">

      <nav class="earthcontainer">

        <model-viewer src="{{url_for('static', filename='Earth2.glb')}}" class="earthcontainer" id="earth"
        environment-image="legacy" auto-rotate  
        style="background-color: transparent; --progress-bar-height: 0;"></model-viewer>

        <div class="earthbehindobject"></div>

      </nav>

      

      <div class="aboutsectioncontainer">
  
        <span class="aboutitle"><h1>What's <b style="color: #5e43f3;">Global </b>Data;</h1></span>
  
        <span class="aboutdesc">
    
          <p class="glassycontainer"><b style="color: #5e43f3;">Global Data</b> is the ultimate navigation experience through the World Data that countries have been recollecting since 1980
          </p>
      
    
        </span>
  
      </div>
  
      
  
    </section>

  </section>

<script>

  addEventListener("DOMContentLoaded", (event) => {

    ScrollReveal().reveal(".earthcontainer", {

      origin: 'left',
      distance: '50px',
      duration: 3000,
      reset: true

    });

    ScrollReveal().reveal(".earthbehindobject", {

      origin: 'left',
      distance: '50px',
      duration: 3000,
      reset: true

    });

  });

</script>

</main>

{% endblock %}