{% extends "layout.html" %} {% block body %}

<span class="trybackground">
  <span class="tryformcontainer glassycontainer">
    <h1>Select Series:</h1>

    <nav id="tryformcontainer">
      <form method="POST" action="/tryseries">
        <select name="selectedseries">
          {% for i in series %}

          <option>{{ i }}</option>

          {% endfor %}
        </select>

        <nav class="submitbutton">
          <button type="submit">Finish</button>
        </nav>
      </form>
    </nav>
  </span>
</span>

{% endblock %}
